.col-sm.ms-max-50 {
    max-width: 50%; /* bootstrap override */
}

body {
    transition: .5s ease;
}

.ms-header {
    border-bottom: 1px solid black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ms-text-center {
    text-align: center;
}

.ms-space-me-top {
    padding-top: 1rem;
}

.ms-space-me-bottom {
    padding-bottom: 1rem;
}

.ms-space-me-top-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ms-space-me-left-right {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ms-hover:not(.ms-nav-active):hover {
    cursor: pointer;
    background-color: #f1f1f1;
    transition: .25s ease-in-out;
}

.ms-hover:active {
    cursor: pointer;
    background-color: #f1f1f1;
}

.ms-translation-container {
    background-color: #f1f1f1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ms-nav-active {
    background-color: #007bff;
    color: #f1f1f1;
}

.ms-nav {
    display: flex;
    width: 100%;
}

.ms-divarea {
    max-width: 100%;
    min-height: 135px;
    height: 100%; 
    flex-basis: 0;
    flex-grow: 1;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.ms-divarea.readonly:empty::before {
    content: attr(placeholder);
}

@keyframes translation {
    0% { 
        content: "Translation";
    }
    25% { 
        content: "Translation.";
    }
    50% { 
        content: "Translation..";
    }
    100% { 
        content: "Translation...";
    }
  }
  
  .ms-loader::before {
    animation: translation 1s linear infinite alternate;
    content: "";
  }

  .ms-loader {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
  }

  .ms-overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .5s ease;
  }

  .ms-opacity {
      opacity: 0;
  }

  .ms-blur {
      filter: blur(5px);
      pointer-events: none;
      user-select: none;
  }